[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot.git
[submodule "vendor/faad2"]
	path = vendor/faad2
	url = https://github.com/knik0/faad2.git
[submodule "vendor/kissfft"]
	path = vendor/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "vendor/easyloggingpp"]
	path = vendor/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
