[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot.git
[submodule "vendor/faad2"]
	path = vendor/faad2
	url = https://github.com/knik0/faad2.git
[submodule "vendor/easyloggingpp"]
	path = vendor/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/librtlsdr"]
	path = vendor/librtlsdr
	url = https://github.com/williamyang98/librtlsdr_cmake.git
[submodule "vendor/viterbi_decoder"]
	path = vendor/viterbi_decoder
	url = https://github.com/williamyang98/ViterbiDecoderCpp.git
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse.git
